.about {
    border-top: 2px solid black;
    margin: 5rem 0;
    padding: 5rem 0;
}

.about-me-inner {
    width: 90vw;
    max-width: var(--laptop);
    margin: auto;
}

.about-me-inner h1 {
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 3rem;
    margin: 0 0 1rem;
    font-weight: 600;
}

.about-me-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure the two columns stay side by side */
    gap: 2rem; /* Space between columns */
}

.about-me-image {
    width: 100%; /* Ensures the image takes the full width of the column */
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.about-me-image-col {
    display: flex;
    justify-content: flex-start; /* Aligns image to the left */
    align-items: center; /* Vertically centers image */
}

.about-me-text-col {
    display: flex;
    justify-content: flex-start; /* Aligns text to the right */
    align-items: center; /* Vertically centers text */
}

.about-me-text-content {
    font-family: 'Gotham', sans-serif;
    font-size: 1.6rem;
    letter-spacing: -0.5px;
    line-height: 1.6;
    color: var(--aboutMeTextColor);
}

.about-me-text-content button {
    background-color: var(--buttonBgPrimaryColor);
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
    color: white;
    box-shadow: 4px 3px 0 black;
    font-size: 1.6rem;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.about-me-text-content button:hover {
    box-shadow: 3px 3px 0 black;
    transform: translate(-0.2rem, -0.2rem);
}

@media screen and (max-width: 768px) {
    .about-me-container {
        flex-direction: column; /* Stacks columns vertically on smaller screens */
        align-items: center;
    }

    .about-me-image {
        margin-bottom: 2rem; /* Adds space below the image */
    }
}
